.navbar{
    background-color: #E8D7B2;
    width: 100%;
}
.navbarright{
    display: flex;
    align-items: center; 
    padding: 20px;
}
.navbarright .searchbar{
    padding-right: 35px;
    border-color: black;
}
.navbarright .searchbar button{
    padding: 5px;
    border-radius: 8px;
    color: white;
    background-color: black;
}
input[type=text]{
    padding: 5px;
    border-radius: 8px;
    width: 230px;
}
.navbarright .login li{
 padding: 5px;
}
.navbar .logo{
    display: flex;
    justify-content: center; 
    padding-left: 416px;
}
.navbar .logo img{
    width: 150px;
}
.navbar .login{
    display: flex;
    list-style-type: none;
}.navbar .home{
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
}
.navbar .home a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 4px;
}